# Empty CSS file for your own CSS
.slide{
  color: rgb(255,0,0);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
